In [2]:
import pandas as pd

In [3]:
df  = pd.read_csv('C:/Users/Noppon/Desktop/Prame/Non-para/Final/epldata_final.csv')

In [4]:
country = df['nationality'].value_counts()
country

nationality
England                156
Spain                   28
France                  25
Netherlands             20
Belgium                 18
                      ...
Benin                    1
Bermuda                  1
Trinidad and Tobago      1
Slovenia                 1
New Zealand              1
Name: count, Length: 61, dtype: int64

In [11]:
region = df['region'].value_counts().sort_index()
region

region
1.0    156
2.0    207
3.0     41
4.0     56
Name: count, dtype: int64

In [19]:
region_info = pd.DataFrame({
    'region_id': [1.0, 2.0, 3.0, 4.0],
    'region_name': ['England', 'Europe', 'America', 'Other']
})
region_info

   region_id region_name
0        1.0     England
1        2.0      Europe
2        3.0     America
3        4.0       Other

In [20]:
df2 = pd.merge(df, region_info, left_on='region', right_on='region_id')
df2

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,region_id,region_name
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3.0,Chile,0,4,1,1,0,3.0,America
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2.0,Germany,0,4,1,1,0,2.0,Europe
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2.0,Czech Republic,0,6,1,1,0,2.0,Europe
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1.0,England,0,4,1,1,0,1.0,England
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2.0,France,0,4,1,1,0,2.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2.0,Switzerland,0,1,20,0,1,2.0,Europe
456,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4.0,Congo DR,0,2,20,0,1,4.0,Other
457,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1.0,England,0,2,20,0,0,1.0,England
458,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1.0,England,0,1,20,0,1,1.0,England
459,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4.0,Senegal,0,3,20,0,0,4.0,Other

In [24]:
df2['fpl_sel'] = df2['fpl_sel'].str.rstrip('%').astype(float)
df2['fpl_sel'] = df2['fpl_sel'].astype(int)
df2

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,region_id,region_name
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17,264,3.0,Chile,0,4,1,1,0,3.0,America
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5,167,2.0,Germany,0,4,1,1,0,2.0,Europe
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5,134,2.0,Czech Republic,0,6,1,1,0,2.0,Europe
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1,122,1.0,England,0,4,1,1,0,1.0,England
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0,121,2.0,France,0,4,1,1,0,2.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0,38,2.0,Switzerland,0,1,20,0,1,2.0,Europe
456,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0,34,4.0,Congo DR,0,2,20,0,1,4.0,Other
457,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0,29,1.0,England,0,2,20,0,0,1.0,England
458,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5,16,1.0,England,0,1,20,0,1,1.0,England
459,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0,12,4.0,Senegal,0,3,20,0,0,4.0,Other

In [26]:
df2.drop(columns=['region_id'], inplace=True)

In [27]:
df2

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing,region_name
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17,264,3.0,Chile,0,4,1,1,0,America
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5,167,2.0,Germany,0,4,1,1,0,Europe
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5,134,2.0,Czech Republic,0,6,1,1,0,Europe
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1,122,1.0,England,0,4,1,1,0,England
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0,121,2.0,France,0,4,1,1,0,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0,38,2.0,Switzerland,0,1,20,0,1,Europe
456,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0,34,4.0,Congo DR,0,2,20,0,1,Other
457,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0,29,1.0,England,0,2,20,0,0,England
458,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5,16,1.0,England,0,1,20,0,1,England
459,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0,12,4.0,Senegal,0,3,20,0,0,Other

In [29]:
df2.to_csv('epl_clean.csv', index=False)